PORT=8080
DATA_SAVE_PATH=~/.fda/data

### WEB ################################################################################################################

WEB_PUID=1000
WEB_PGID=1000

### NGINX ##############################################################################################################

NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
NGINX_HOST_LOG_PATH=./docker/logs/nginx/
NGINX_PHP_UPSTREAM_CONTAINER=web
NGINX_PHP_UPSTREAM_PORT=9000

### MYSQL ##############################################################################################################

MYSQL_DATABASE=fda
MYSQL_USER=fda
MYSQL_PASSWORD=fda
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root

############################
# Miscellaneous
############################

# Replace with your Docker Host IP (will be appended to /etc/hosts)

DOCKER_HOST_IP=172.17.0.1
