

{# /Resources/views/RawInspection/browse.html.twig #}

{% extends 'AppBundle:RawInspection_layout.html.twig' %}

{% block meta_title 'AppBundle:RawInspection NEW ' %}


{% block template_content %}
    <form class="form-horizontal" method="post">

        {{ form_rest(form) }}
        <div class="clearfix"><button type="submit" class="btn btn-primary">Create NEW</button></div>
    </form>
{% endblock %}
