{% extends '::layout.html.twig' %}


{% block intro %}
<h3>Display Customized DecisionType Record </h3>
{% endblock %}


{% block after_table %}
{% endblock after_table %}

{% block meta_title %}
DecisionType
{% endblock %}


{% block content %}
<pre>
{{ yaml(d)}}
</pre>
    {% endblock %}




